html, body{height:100%;font-family:'Roboto', sans-serif;}
body {font-size: 13px;color: #6c757d; background-color: #fafafa; font-family: 'Roboto', sans-serif;
width: 100%; background-color: #f5f5f5;letter-spacing: 0.3px;}
a {color: #17a2b8;}
a:hover {color: #dc3545;}

.loader {position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 99999; background:rgba(255, 255, 255, 0.80);display: flex;justify-content: center;align-items: center;}
.loader .loader-text {padding: 10px 0px;}
.loader .feather-loader {width: 50px; height: 50px;}

.showloader {background: url(../images/loader.svg) center center no-repeat; background-size: cover; height: 50px; width: 150px; margin: 0 auto; display:block;}
.form-control:disabled, .form-control[readonly] {background: transparent !important;}
.blue-gradient {background: -webkit-linear-gradient(-50deg, #30cfd0, #330867);background: -o-linear-gradient(-50deg, #30cfd0, #330867);background: linear-gradient(-40deg, #30cfd0, #330867);}

.text-orange {color: #ec5a27 !important;}
.text-blue {color: #411f73 !important;}

.bg-orange {background-color: #ec5a27 !important;}
.bg-blue {background-color: #411f73 !important;}

.alert {border: 0px !important;}
.alert-dismissible .close {padding:.6rem 1.25rem;}
.question-icon {font-size: 18px;display: inline-block;}
h1, h2, h3, h4, h5, h6{font-family:'Roboto', sans-serif;margin-top:0;}
.clear{clear:both;}
.nowrap {white-space: nowrap;}

.btn {border-radius: 4px;font-weight: 500;font-size: .875rem;letter-spacing: .25px;}
.btn-link{color: rgba(60,64,67,0.38) !important; text-decoration: none !important;}
.btn-link:hover {color: rgba(0,0,0,0.6) !important}
.btn-xs {padding: 4px 10px;font-size: 11px;}
.btn:focus, .btn:hover{box-shadow: none !important;}

.btn-shadow {webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.btn-shadow:hover{webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;}
.btn-w-big {width: 100%; max-width: 150px;}

.btn-theme {color: #fff;background-color: #432074;border-color: #432074;}
.btn-theme:hover {background-color: #394784;border-color: #394784;}
  .btn-theme.focus, .btn-theme:focus {box-shadow: 0 0 0 0.2rem rgba(202, 68, 21,.5);}

.row-eq-height{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.row.no-gutters{margin-right:0;margin-left:0}
.row.no-gutters>[class^="col"], .row.no-gutters>[class*=" col"]{padding-right:0;padding-left:0}
.row.gutters-5{margin-right:-5px;margin-left:-5px}
.row.gutters-5>[class^="col"], .row.gutters-5>[class*=" col"]{padding-right:5px;padding-left:5px}
.row.gutters-10{margin-right:-10px;margin-left:-10px}
.row.gutters-10>[class^="col"], .row.gutters-10>[class*=" col"]{padding-right:10px;padding-left:10px}


/*Header*/
#_mainHeader {background:#3a2270 url(../images/bg-img.jpg) top center no-repeat; background-size: cover; background-attachment: fixed;}
  ._logo {background: url(../images/shiptime-logo-white.svg) center no-repeat; background-size:contain; width: 135px; height:56px; /*margin-left: 10px;*/ margin-right: auto;}
  ._slideAction {float: left;}
._slideAction a.slide-btn {color: #fff;/* height: 56px; */display: block;width: 56px;text-align: center; line-height: 56px;font-size: 22px; /*border-right: 1px solid rgba(255, 255, 255, 0.20);*/  /*background: #f2f2f2;*/}
    ._slideAction a.slide-btn:hover {color:#d35635;}
    #_mainHeader .page-title { color: #fff; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 2px; padding: 0.3rem; margin-right: 15px; margin-left: auto; border-right: 1px solid rgba(251, 251, 251, 0.30); padding-right: 10px;}
    h1.page-title {font-weight: 700; font-size: 16px;  color: #000; }

#_mainHeader .navbar {z-index:10000!important; box-shadow:2px 2px 10px 0 rgba(0,0,0,.30); /*border-bottom: 1px solid rgba(255, 255, 255, 0.20);*/ padding: 0px; background:#1d6fb8 url(../images/bg-img.jpg) bottom center no-repeat; /*background-size: cover;background-attachment: fixed;*/ }
#_mainHeader .navbar .nav-flex-icons {-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row; padding-right:10px; }
#_mainHeader .nav-link {color: #fff; padding-right: .5rem; padding-left: .5rem; display: flex;}
#_mainHeader  .nav-link .feather {opacity: 0.6;}
#_mainHeader .show .nav-link .feather {opacity: 1;}

#_mainHeader ._label-link .feather {margin-top: 1px;}
#_mainHeader .nav-link ._label {position: absolute;background: #ffffff;color: #000;top: 0;width: 15px;height: 15px;line-height: 16px;text-align: center;border-radius: 10px;font-size: 11px;right: 0;}
#_mainHeader .navbar-nav .dropdown-menu {position:absolute; font-size: 0.8rem; border: 0px; border-bottom: 5px solid #17a2b8;background-clip: padding-box; border-radius: 4px; box-shadow: 0px 0px 1px rgb(187, 187, 187), 5px 5px 0 rgba(0, 0, 0, 0.1);}
#_mainHeader .navbar-nav .dropdown-menu:before {width: 0;height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #d8d8d8;content: "";display: inline-block;position: absolute;bottom: 100%;left: 15px;}
#_mainHeader .navbar-nav .dropdown-menu.dropdown-menu-right:before {right: 8px; left: auto;}

#_mainHeader .navbar-nav .dropdown-menu-big {min-width: 26rem;}
#_mainHeader .navbar-nav .dropdown-menu.scoll-auto ul {overflow-x: auto; max-height: 300px;}

#_mainHeader .navbar-nav .dropdown-menu .dropdown-item {    padding: .35rem 1rem;}
    #_mainHeader .navbar-nav .dropdown-menu .dropdown-item.active,
    #_mainHeader .navbar-nav .dropdown-menu .dropdown-item:active { color: #fff; text-decoration: none; background-color: #ec5a26;}

/*mainHeader-white*/
._mainHeader-white ._logo {background: url(../images/shiptime-logo.svg) center no-repeat !important;}
._mainHeader-white .navbar {background: #fff !important;box-shadow: 2px 2px 10px 0 rgba(0,0,0,.1) !important;}
._mainHeader-white ._slideAction a.slide-btn{color: #000!important;}
 ._mainHeader-white .page-title {border-right: 1px solid rgba(0, 0, 0, 0.30)!important; color: #000!important;}
 ._mainHeader-white .nav-link {color: #000!important;}
 ._mainHeader-white .nav-link ._label {background: #17a2b8!important;color: #fff!important;}

ul.notification-list {margin: 0px; padding: 0px; list-style: none;}
  ul.notification-list li {border-bottom: 1px solid #dee2e6; padding: .35rem 1rem;}
  ul.notification-list li:last-child {border: 0px;}
  ul.notification-list li:hover {background: #f5f5f5;}
  ul.notification-list li p {margin-bottom: 0.5rem;}
  ul.notification-list li .date {color: #9e9e9e}


.languages-action {padding-right: 20px;}
  .languages-action a {background: #fff;}

#_slideNav {padding-top:66px; -webkit-transition: width 2s; transition: width 0.2s; background:#3a7ba1 url(../images/bg-menu.jpg) top left no-repeat; background-attachment: fixed; overflow-y: auto; -webkit-transition:300ms;-moz-transition:300ms;transition:300ms;}
.sideNav {z-index:1040; position:fixed; width:240px; left:0;top:0;margin:0; height:100%; color:#fff;   -webkit-backface-visibility:hidden;overflow:hidden;will-change:transform;backface-visibility:hidden;list-style-type:none;padding:0}
.fixed-sn .nav-text, .sideNav .nav-text{opacity:0;-webkit-transition:display .2s;transition:display .2s;vertical-align:middle}
.fixed-sn .nav-text, .sideNav.fixed .nav-text{opacity:1;-webkit-transition:opacity .5s;transition:opacity .5s;vertical-align:middle}

.sideNav ul.sideNav-list {margin: 0px; padding: 0px; list-style: none;}
.sideNav ul.sideNav-list.sideNav-list-bottom {position: absolute; bottom: 0px; left: 0px; width:240px;}
.sideNav ul.sideNav-list li {padding: 0px 8px 1px 8px;}

.sideNav .sideNav-list .feather {margin-right: 5px; float: left;}
.sideNav .sideNav-list a.nav-label {/*display: flex; align-items: center;*/}
.sideNav .sideNav-list a.nav-label .nav-text {margin-top: -2px;display: inline-block;}
.sideNav .sideNav-list a {font-size: 0.8rem; padding: 8px 11px; min-height:38px; min-width: 40px; white-space: nowrap; color: #fff;display: block;text-decoration: none; border-radius:20px;
/*TRANSISTIONS*/ -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; -ms-transition: all 1s ease; transition: all 1s ease;}

.sideNav .sideNav-list a.active,
.sideNav .sideNav-list a:hover {background-color:rgba(255, 255, 255, 0.2); }

.sideNav ul.sideNav-list.sideNav-list-bottom a {
/*TRANSISTIONS*/ -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; -ms-transition: all 1s ease; transition: all 1s ease;}
.sideNav ul.sideNav-list.sideNav-list-bottom a.active,
.sideNav ul.sideNav-list.sideNav-list-bottom a:hover {text-decoration: underline;background-color:transparent;}


.sideNav .group-nav-label {border-top: 1px solid rgba(255, 255, 255, 0.20);}
.sideNav .group-nav-label a {display: inline-block !important; font-size: 0.7rem;}
.sideNav .group-nav-label a:hover {text-decoration: underline;background-color:transparent;}
.sideNav .group-nav-label a.active-lang {font-weight: 800;background-color:transparent;text-decoration: underline;}

body:not(.fixed-sn) .sideNav:not(.fixed) .group-nav-label {display: none;}


body.fixed-sn .sideNav {width: 240px;transform: translateX(0);}
body:not(.fixed-sn) .sideNav:not(.fixed) {width: 56px;transform: translateX(0);}
.fixed-sn #_mainContainer, .hidden-sn #_mainContainer {/*padding-top: 0;*/margin-left: 0px;margin-right: 0px;}

/* width */
::-webkit-scrollbar {width: 5px;}
body::-webkit-scrollbar {width: 10px;}
/* Track */
::-webkit-scrollbar-track {background: #f1f1f1; }
/* Handle */
::-webkit-scrollbar-thumb {background: #666; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #000; }

/*feather icon size*/
.feather {width: 18px;height: 18px;stroke: currentColor;stroke-width: 2;stroke-linecap: round;stroke-linejoin: round;fill: none;}
.feather-lg {width: 22px;height: 23px;}

/*.fixed-sn .double-nav, .fixed-sn footer, .fixed-sn main {*/
body:not(.fixed-sn) main {padding-left: 56px;}
#sidenav-overlay {background: transparent;}


/*---- main ----*/
body.fixed-sn #_mainContainer {padding-left: 240px;}
#_mainContainer {padding-top: 56px; -webkit-transition: all 2s; transition: all 0.2s; min-height: 100%;background-color: #fafafa;}
._topContainer {margin: 0 auto; padding: 1.5rem 1.5rem 0;/* background-color: #fff;box-shadow: 2px 2px 10px 0 rgba(0,0,0,.04) !important; */ box-shadow: none !important}
._mainContainer {margin: 0 auto; padding: 1.5rem; }
  /*height: -moz-calc(100vh - 56px);
  height: -webkit-calc(100vh - 56px);
height: calc(100vh - 56px); */

#_mainContainer .container-fluid {padding: 0px; max-width: 1900px;}


/*.dropdown-menu-style:before {width: 0;height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #fff;content: "";display: inline-block;position: absolute;bottom: 100%;left: 15px;}
  .dropdown-menu-style.dropdown-menu-right:before {right: 15px; left: auto;}*/
  .dropdown-menu.dropdown-menu-style {font-size: 0.8rem; border: 0px; border-bottom: 5px solid #ec5a26 !important;background-clip: padding-box; border-radius: 4px; box-shadow: 0px 1px 1px rgb(187, 187, 187), 5px 5px 0 rgba(0, 0, 0, 0.1);}


/*_form-search-block*/
.col-form-label {font-size: 0.85rem;}
.form-control {border: 1px solid #dcdcdc;font-size: 0.85rem; padding: .375rem .5rem;}
.form-control:focus{box-shadow: none;border-color: #17a2b8;}
select.form-control:not([size]):not([multiple]) {height: calc(2rem + 2px); padding: .375rem .25rem; border-radius: 0;}
select.form-control-sm:not([size]):not([multiple]) {height: calc(1.5rem + 2px);padding: 0rem .25rem;}
/*select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, #495057 50%),
    linear-gradient(135deg, #495057 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 19.75px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 6px,
    5px 6px,
    1px 1.5em;
  background-repeat: no-repeat;
}*/

.search-input {border-radius: 0; padding: 7px;}
.select-control {border-radius: 0;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before, .custom-radio .custom-control-input:checked~.custom-control-label::before {background-color: #17a2b8;}

.custom-control {display: flex; align-items: center; font-size: 0.8rem;}
.custom-control-input:focus~.custom-control-label::before{box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(23, 162, 184, .2);}
.custom-select.is-invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus, .custom-select.is-valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus{box-shadow: none;}

._form-search-block {position: relative; background-color: #fff;}
/*._form-search-block .search-input.form-control {border: 5px solid #411f73; border-width: 5px 0px !important;}*/
  ._form-search-block .search-input {height: 40px;border: 0;}
.input-group-text {border: 0px;border-radius:0;}
  ._form-search-block .dropdown-menu {border:1px solid rgba(0,0,0,0.12);background:rgba(255,255,255,1);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.24);box-shadow:0 1px 1px rgba(0,0,0,0.24)}
  ._form-search-block .dropdown-menu-right {border-top: 0;border-radius: 0 0 8px 8px; left: -1px !important; right: -1px !important; top: 36px!important; border-radius: 0 0 8px 8px;will-change: inherit !important; transform:none !important;box-shadow: 0 3px 6px rgba(0,0,0,.15);}
  ._form-search-block .form-horizontal {border: 1px solid rgba(0,0,0,0.12);border-radius: 4px;}
  ._form-search-block .input-search-icon {background-color: transparent; border-radius: 4px;padding: 0 11px;}
  ._form-search-block .dropdown .dropdown-toggle {background-color: transparent; padding: 0 14px 0 10px; font-size: 18px;}
 .form-control-style {border: 0;border-bottom: 1px solid rgba(100,121,143,0.122);padding-left: 0; border-radius: 0;}

/*_table-style-list*/
._table-style-list {margin: 0;}
  ._table-style-list thead {background: #e9ecef;}
  ._table-style-list thead th {border: 0px !important; padding: 0.5rem 0.75rem}
  ._table-style-list tbody {}
  ._table-style-list tbody td, ._table-style-list tbody th {padding: 0.5rem 0.75rem}

/*table-style*/
._table-style {margin: 0;}
  ._table-style thead {background: #fff; color: #000;}
  ._table-style thead th {border: 0px !important;}
  ._table-style tbody {}
  ._table-style tbody td, ._table-style tbody th  {padding: 0.5rem 0.75rem}
  ._table-style tbody td span.badge, .card .badge{font-weight: 400;letter-spacing: 0.5px;line-height: 14px;}


  ._table-style tbody tr {}
  ._table-style tbody tr:nth-of-type(odd){background-color: rgba(0,0,0,.03) !important;}
  .flot-actions {position: relative; vertical-align: middle !important;}
    .flot-action {/*position: absolute; right:1px; top:1px; bottom: 1px; padding: .75rem .75rem .75rem .75rem; text-align: right; background: #e9ecef;*/ opacity: 0; display: inline-block;}

    .flot-action .btn-icon, button.feather-btn-sm {border: 0px; border-radius: 20px; padding: 5px; margin: 0px 1px; display: inline-block;height: 30px;width:30px; line-height: 30px; text-align: center;}
    .flot-action .btn-icon .feather, button.feather-btn-sm .feather {width: 14px;height: 18px;}
  ._table-style .custom-control {padding: 0px; margin-top: -3px; width: 15px;}
  ._table-style .custom-control-label::before {background-color: #f7f7f7; border:1px solid #c3c3c3;}

  .multi__checkbox_th {width: 40px;}
  table tr:hover .flot-action {opacity: 1 !important;}
  ._table-style tbody tr:hover:not(.nohover) {background: rgba(0, 0, 0, 0.07) !important;
    webkit-box-shadow:inset 4px 0 0 #999, 0 0px 5px 0 rgba(0,0,0,.03), 0 1px 5px 1px rgba(0,0,0,.15);
    box-shadow: inset 4px 0 0 #999, 0 0px 5px 0 rgba(0,0,0,.03), 0 1px 5px 1px rgba(0,0,0,.15);}

/* dashboard */
.dashboard .quick-quote .shipping-from {padding: 10px 0px 10px 10px;margin: 10px 0;}
.dashboard .quick-quote .shipping-from .edit-btn {padding: 6px 0;line-height: 0;border-bottom: 1px solid #EEEEEE;}

/* Dashboard Shipping History */
div.equal-h-card {margin-bottom: 15px;}
.learn-more {line-height: 20px;}
@media (min-width: 991px){
	.card-hover-accsons.card .card-hover-accson .btn,
	.card-hover-accsons.card a._show-action.collapsed .card-hover-accson .btn {/* opacity: 0!important; */}
	.card-hover-accsons.card a._show-action .card-hover-accson .btn,
	.card-hover-accsons.card a.collapsed:hover .card-hover-accson .btn {opacity: 1!important;}
}

.card .sort-by {max-width: 200px;margin-left: auto;}

/*card*/
.card {background:0 0;padding:0;border-radius: .50rem; background: #FFFFFF;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.15); box-shadow: 0 3px 6px rgba(0,0,0,.15); border: 0;}
.card-header {padding: .75rem; border: 0;background-color: transparent;}
.card-title {line-height: 34px; font-size: 16px;font-weight: 700;color: #000;padding-left: 20px;border-bottom: 1px solid #EEEEEE;}
.card-title p {font-size: 12px;font-weight: normal;color: #999;line-height: 18px;margin-bottom: 8px;}
.card-body {padding: 0 .75rem;}
.card-footer {padding: .75rem;border: 0;background-color: transparent;}
.dashboard-card {background-color:#fff;border:none;border-radius:8px!important;box-shadow:0 3px 6px rgba(0,0,0,.15);padding:20px}

.card-tab {background-color: rgba(0, 0, 0, 0.04);border-radius: .4rem; margin-bottom: 15px;}
.card-tab:hover, .card-tab:focus {webkit-box-shadow:0 3px 6px rgba(0,0,0,.15);box-shadow:0 3px 6px rgba(0,0,0,.15);}
.card-tab .card-header a {text-decoration: none;}
.card-tab .card-header button.btn-icon {line-height: 10px; width: 35px; height: 35px; border-radius: 50px;margin: 0 2px;}
.card-tab .card-body {padding: 0 .75rem .75rem;}
.card-tab .card-body .table {margin-bottom: 0px !important;}

.file-upload {border: 2px dashed #d6d7d8;text-align: center;padding: 50px 0;margin-bottom: 1rem;}
.file-upload:focus, .file-upload:hover {border-color: #17a2b8;}

._list-group-with-title {margin: 0px; padding: 0px; list-style: none;}
  ._list-group-with-title li { overflow: hidden; border-bottom: 1px solid rgba(0,0,0,.125);padding: 5px 0;}
  ._list-group-with-title li:last-child {border: 0px;}
  ._list-group-with-title .strong-title {width: 100px; float: left;}

.pagination {margin-bottom: 0px;}
.pagination .page-item.disabled .page-link {background-color: transparent;border-color: transparent;}
.pagination .page-item .page-link {/* background-color: #dcdcdc;border-color: #17a2b8; */ color: #666; border-radius: 50%;margin: 0px 3px;height: 31px;padding: 10px;line-height: 10px;}
.pagination .page-item.active .page-link {background-color: #17a2b8;border-color: transparent;border-radius: 50%;color: #fff;}

.pagination-entries { padding: 10px 0;}
.pagebtn-container .page-item:first-child .page-link {border-top-left-radius: 50%!important;  border-bottom-left-radius: 50%!important; }
.pagebtn-container .page-item:last-child .page-link {border-top-right-radius: 50%!important;  border-bottom-right-radius: 50%!important; }

._nav {}
  ._nav .nav-link {color: #000;border-radius: 8px 8px 0px 0;border: 1px solid rgba(0, 0, 0, 0.08);border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {border: 1px solid rgba(0, 0, 0, 0.0);color: #000;background-color: rgba(0, 0, 0, 0.05);}
  ._tab-content {padding: 0.75rem; background-color: rgba(0, 0, 0, 0.05);border-radius:0 0 8px 8px;}

  #dark ._nav .nav-link {padding: 10px;color: #757575;border-radius: 0;border: 1px solid #dee2e6;border-bottom: 1px solid rgba(0, 0, 0, 0.0);}
  #dark .nav-pills .nav-link.active, #dark .nav-pills .show>.nav-link {border: 1px solid rgba(0, 0, 0, 0.0);color: #fff;background-color: rgb(23, 162, 184);}
  #dark ._tab-content {padding: 0.75rem; background-color: #fff;border-top: 3px solid rgb(23, 162, 184);border-radius:0;border-bottom: 1px solid #dee2e6;border-left: 1px solid #dee2e6;border-right: 1px solid #dee2e6;}

.modal-header {background: #f2f2f2; border-top-left-radius: .3rem; border-top-right-radius: .3rem;}
.modal-header-theme {background: transparent; color: #000;box-shadow: 2px 2px 10px 0 rgba(0,0,0,.1) !important;}
.modal-header-theme .close {opacity: 1 !important; font-size: 1.8rem;line-height: 30px;font-weight: 400;}
.modal-header .modal-title .feather {float: left;margin-top: 2px;margin-right: 10px;}
.modal-title {font-size: 18px; font-weight: 700; line-height: 30px;}
.modal-action {margin-left: auto; padding-right: 10px;}
  .modal-action .btn-icon {border: 0px; border-radius: 20px; padding: 5px; margin: 0px 5px; display: inline-block;height: 30px;width: 30px; line-height: 30px; text-align: center;}
.modal-content {border-radius:.8rem; border: none;}

.modal-content .row{margin-right:-7px;margin-left:-7px}
.modal-content .row>[class^="col"], .row.gutters-5>[class*=" col"]{padding-right:7px;padding-left:7px}

/*. _btn-loader */
._btn-loader{position:relative;transition:padding-right .3s ease;}
._btn-loader-center{position:relative;transition:}
._btn-loader-center.spinning:before {right: inherit !important; left: 45% !important;}

.spinning:before{width:0;height:0;border-radius:50%;right:6px;top:50%;position:absolute}
.spinning{padding-right:35px}
.spinning:before{content:"";border:2px solid rgba(255, 255, 255, 0.60);border-right:2px solid #d94f26;-webkit-animation:rotate360 .5s infinite linear,exist .1s forwards ease;animation:rotate360 .5s infinite linear,exist .1s forwards ease}

.spinning-light:before{width:0;height:0;border-radius:50%;right:6px;top:50%;position:absolute}
.spinning-light{padding-right:35px}
.spinning-light:before{content:"";border:2px solid rgba(255, 255, 255, 0.2);border-right:2px solid #f7f7f7;-webkit-animation:rotate360 .5s infinite linear,exist .1s forwards ease;animation:rotate360 .5s infinite linear,exist .1s forwards ease}

@-webkit-keyframes rotate360{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes rotate360{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@-webkit-keyframes exist{100%{width:15px;height:15px;margin:-8px 5px 0 0}}
@keyframes exist{100%{width:15px;height:15px;margin:-8px 5px 0 0}}

/*daterangepicker.css - http://www.daterangepicker.com/#config*/
body .daterangepicker {font-family:'Roboto', sans-serif !important;}
body .daterangepicker .ranges li.active,
body .daterangepicker td.active, body .daterangepicker td.active:hover {background-color: #17a2b8;}
body .daterangepicker .btn-primary, .btn-primary:disabled {background: #17a2b8 !important; border-color: #17a2b8!important}
body .daterangepicker .btn-primary:hover {background-color: #138496!important; border-color: #117a8b!important;
  webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;}

/*select7*/
.select7__drop,.select7_dropdown .select7__drop{top:0;z-index:1000;min-width:100%;background-clip:padding-box}.select7{position:relative;text-align:left;display:inline-block;line-height:1.428571429}.select7_native_dropdown .select7__current{cursor:default!important}.select7_native_dropdown .select7__caret{border-color:#222 transparent transparent!important}.select7_dropdown{display:inline-block;margin:0 -5px}.select7_dropdown .select7__current{height:auto;padding:0 15px 0 10px;border:0;position:relative;cursor:pointer;background-color:transparent}.select7_dropdown .select7__current:hover .select7__current-value{color:#17a2b8}.select7_dropdown .select7__current:hover .select7__caret{border-color:#17a2b8 transparent transparent}.select7_dropdown .select7__drop{left:0;padding:35px 0 5px;margin-top:-6px;border-width:1px;border-radius:4px}.select7_dropdown .select7__current-value{overflow:visible;display:inline-block;border-bottom:1px dotted}.select7_dropdown .select7__caret{position:static;margin-top:0;border-color:#222 transparent transparent}.select7_dropdown .select7__option{padding:5px 10px}.select7_noopts .select7__caret{display:none}.select7_noopts .select7__current{cursor:default}.select7_noopts .select7__current:hover .select7__current-value{color:inherit}.select7_noopts .select7__current-value{border-bottom-color:transparent}.select7_position_right .select7__drop{left:auto;right:0}.select7_position_right .select7__option{text-align:right}.select7__current{position:relative;/* color:#222;border:1px solid #ccc;border-radius:4px;background-color:#fff; */
  padding-right: 22px;cursor:pointer;/* height:35px */}.form-control-style.select7_open {padding-left: 10px;}.select7__caret,.select7__drop{position:absolute;border-style:solid}.select7__current-value{overflow:ellipsis;display:block}.select7__current:hover .select7__caret{border-color:#17a2b8 transparent transparent}.select7__drop{display:none;left:0;padding:35px 0 5px;margin:0;font-size:14px;background-color:#fff;border-width:1px;border-color:#ccc;border-radius:4px;box-shadow:0 3px 4px rgba(0,0,0,.1)}.select7__drop-list{list-style:none;margin:0;padding:0;max-height:168px;overflow-y:auto}.select7__caret{top:50%;margin-top:-3px;right:4px;display:inline-block;width:0;height:0;margin-left:5px;vertical-align:middle;border-width:5px 5px 0;border-color:#222 transparent transparent;transition:border-color .1s linear}.select7__option{display:block;overflow:hidden;padding:5px 10px;clear:both;text-decoration:none;font-weight:400;color:#383838;white-space:nowrap;cursor:pointer;transition:background-color .2s ease-in-out}.select7__option_disabled{background-color:#fbfbfb!important;color:#a7a7a7!important;cursor:default!important}.select7__option:hover{color:#222;background-color:#f4f4f4}.select7__placeholder{color:#a7a7a7!important}.select7__icon{display:inline-block;height:24px;margin-right:5px;vertical-align:text-top;text-align:center;letter-spacing:0;font-size:0}.select7__icon:after,.select7__icon>img{display:inline-block;vertical-align:middle}.select7__icon:after{content:"";height:100%;width:0}.select7__icon>img{letter-spacing:normal;font-size:12px;border:0;margin:0 auto;max-width:100%;max-height:100%}.select7_open .select7__current{z-index:1001;border-color:transparent;box-shadow:none;background-color:transparent}.select7_open .select7__current:hover .select7__current-value{border-color:transparent}.select7_open .select7__current:hover .select7__caret{border-color:transparent transparent #17a2b8}.select7_open .select7__caret{border-color:transparent transparent #222;border-width:0 5px 5px}.select7_open .select7__drop{display:block}.select7_open.select7_dropdown .select7__current{box-shadow:none}.select7_open.select7_dropdown .select7__current:hover .select7__caret{border-color:transparent transparent #17a2b8}.select7_open.select7_dropdown .select7__caret{border-color:transparent transparent #222}


/*chart*/
.tt-menu,.typeahead{background-color:#fff}
.tt-hint,.tt-query,.typeahead{outline:0}
.typeahead:focus{border-bottom-color:#0097cf}
.tt-query{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.tt-hint{color:#999}
.tt-menu{width: 100%;
margin: 0;
padding: 8px 0;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 5px;
-moz-box-shadow: 0 3px 6px rgba(0,0,0,.15);
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.15);
box-shadow: 0 3px 6px rgba(0,0,0,.15);}
.tt-suggestion.tt-cursor,.tt-suggestion:hover{color:#fff;background-color:#17a2b8}
.tt-suggestion{padding: 3px 15px;font-size: 13px;line-height: 22px;}
.tt-suggestion:hover{cursor:pointer}
.tt-suggestion p{margin:0}
.gist{font-size:14px}
.twitter-typeahead {width: 100%; display: block;}
.c3 svg{font:10px sans-serif;-webkit-tap-highlight-color:transparent}.c3 line,.c3 path{fill:none;stroke:#000}.c3 text{-webkit-user-select:none;-moz-user-select:none;user-select:none}.c3-bars path,.c3-event-rect,.c3-legend-item-tile,.c3-xgrid-focus,.c3-ygrid{shape-rendering:crispEdges}.c3-chart-arc path{stroke:#fff}.c3-chart-arc rect{stroke:#fff;stroke-width:1}.c3-chart-arc text{fill:#fff;font-size:13px}.c3-grid line{stroke:#aaa}.c3-grid text{fill:#aaa}.c3-xgrid,.c3-ygrid{stroke-dasharray:3 3}.c3-text.c3-empty{fill:grey;font-size:2em}.c3-line{stroke-width:1px}.c3-circle._expanded_{stroke-width:1px;stroke:#fff}.c3-selected-circle{fill:#fff;stroke-width:2px}.c3-bar{stroke-width:0}.c3-bar._expanded_{fill-opacity:1;fill-opacity:.75}.c3-target.c3-focused{opacity:1}.c3-target.c3-focused path.c3-line,.c3-target.c3-focused path.c3-step{stroke-width:2px}.c3-target.c3-defocused{opacity:.3!important}.c3-region{fill:#4682b4;fill-opacity:.1}.c3-brush .extent{fill-opacity:.1}.c3-legend-item{font-size:12px}.c3-legend-item-hidden{opacity:.15}.c3-legend-background{opacity:.75;fill:#fff;stroke:#d3d3d3;stroke-width:1}.c3-title{font:14px sans-serif}.c3-tooltip-container{z-index:10}.c3-tooltip{border-collapse:collapse;border-spacing:0;background-color:#fff;empty-cells:show;-webkit-box-shadow:7px 7px 12px -9px #777;-moz-box-shadow:7px 7px 12px -9px #777;box-shadow:7px 7px 12px -9px #777;opacity:.9}.c3-tooltip tr{border:1px solid #ccc}.c3-tooltip th{background-color:#aaa;font-size:14px;padding:2px 5px;text-align:left;color:#fff}.c3-tooltip td{font-size:13px;padding:3px 6px;background-color:#fff;border-left:1px dotted #999}.c3-tooltip td>span{display:inline-block;width:10px;height:10px;margin-right:6px}.c3-tooltip td.value{text-align:right}.c3-area{stroke-width:0;opacity:.2}.c3-chart-arcs-title{dominant-baseline:middle;font-size:1.3em}.c3-chart-arcs .c3-chart-arcs-background{fill:#e0e0e0;stroke:#fff}.c3-chart-arcs .c3-chart-arcs-gauge-unit{fill:#000;font-size:16px}.c3-chart-arcs .c3-chart-arcs-gauge-max{fill:#777}.c3-chart-arcs .c3-chart-arcs-gauge-min{fill:#777}.c3-chart-arc .c3-gauge-value{fill:#000}.c3-chart-arc.c3-target g path{opacity:1}.c3-chart-arc.c3-target.c3-focused g path{opacity:1}.c3-drag-zoom.enabled{pointer-events:all!important;visibility:visible}.c3-drag-zoom.disabled{pointer-events:none!important;visibility:hidden}.c3-drag-zoom .extent{fill-opacity:.1}
.c-pointer{cursor:pointer!important;}

/* daterange */
.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {background-color: #40799f;background-color: #40799f;background-image: -moz-linear-gradient(to bottom,#40799f,#17a2b8);background-image: -ms-linear-gradient(to bottom,#40799f,#17a2b8);background-image: -webkit-gradient(linear,0 0,0 100%,from(#40799f),to(#17a2b8));background-image: -webkit-linear-gradient(to bottom,#40799f,#17a2b8);background-image: -o-linear-gradient(to bottom,#40799f,#17a2b8);background-image: linear-gradient(to bottom,#40799f,#17a2b8);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40799f', endColorstr='#17a2b8', GradientType=0);border-color: #17a2b8 #17a2b8 #40799f;border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);}
.daterange {width: 230px;}
.daterange span {position: absolute;right: 0;top: 8px;cursor: pointer;z-index: 10;}
.input-group-addon {cursor: pointer;padding: 6px 12px;color: #555;text-align: center;background-color: #eee;border: 1px solid #dcdcdc;}
.input-group-addon-style {background-color: #fff;border-bottom: 1px solid rgba(100,121,143,0.122)!important;border: 0;}
.input-group-addon-center {border-left: 0; border-right: 0;}
.input-group-addon:last-child {border-left: 0;}
.input-group-addon:last-child {border-bottom-right-radius: .25rem;border-top-right-radius: .25rem;}
.daterange .input-date {background-image: url("../images/calendar.jpg");background-repeat: no-repeat;background-position: right;}
/* .input-date-icon:after {font-family: 'FontAwesome';position: absolute;top: 6px;right: 10px;content: "\f073";z-index: 10;} */


@media only screen and (max-width: 1440px) {
  .sideNav.fixed {-webkit-transform: translateX(0%);-ms-transform: translateX(0%);transform: translateX(0%);}
}

@media only screen and (max-width: 990px) {
  .sideNav.fixed {-webkit-transform: translateX(-105%);-ms-transform: translateX(-105%);transform: translateX(-105%); }
  #sideNav {width: 180px; transform: -webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}
  #_mainContainer {padding-left: 0px !important;}
  .sidenav-overlay {height: 100%;position: fixed;width: 100%;top: 0;right: 0;background: rgba(0, 0, 0, 0.15);z-index: 999;}
}


@media (min-width: 1024px){
  .modal-lg {max-width: 1000px;}
}

@media only screen and (min-width:768px) and (max-width:1024px){
  .modal-lg {max-width: 750px;}
}

@media only screen and (max-width: 991px) {

}


@media only screen and (max-width: 767px) {
  ._topContainer, ._mainContainer {padding: 1rem; }

  .flot-actions-show-md .flot-action {opacity: 1!important}
  .card-header .btn-small {padding: .25rem .5rem!important;line-height: 1.5!important;}
}

@media only screen and (max-width: 576px) {
  #_mainHeader .navbar-nav .dropdown-menu-big {min-width:10rem;}

  .flot-actions-show-xs .flot-action {opacity: 1!important}

  table tr.rs-xs {display:block;}
  table tr.rs-xs .rs-xs-12 {width: 100%; display:block;}

.modal-dialog {max-width: 500px;margin: 1.75rem auto; padding: 0px 5px 0 10px;}
}

@media only screen and (max-width: 380px) {
  ._logo {width: 95px;}
}
