/* Login Page */
html, body{font-family:'Roboto', sans-serif;}
body {font-size: 13px;color: #6c757d; background-color: #fafafa; font-family: 'Roboto', sans-serif; width: 100%; letter-spacing: 0.3px;}

.theme-color {color: #ed5926;}
a {color: black;}
a:hover {color: #ed5926;}
.text-muted {color: #9E9E9E !important;}
.btn-theme {width: 150px;border-radius: 50px;background-color: #ed5926;color: #fff;line-height: 32px;}
.site-wrapper {background: url(../images/bg-img-side.jpg) center no-repeat;width: 100%;height: 100vh;display: block; min-height: 600px;     background-size: cover;}

/* header  */
.header {border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
.nav_logo img {width: 162px; padding-left: 0px; height: 50px;}
.nav_logo {padding: 10px 0px;}

.nav-logo-center {padding-bottom: 30px;}
.nav-logo-center img {width: 240px; height: 75px;}

/* main */
main {display:flex;height:100%;}
main .container {align-self: center;}
h1 {font-size: 2rem; margin-bottom: 1.5rem}
.Welcome-text {padding-right: 80px;}

.login-img {padding-top: 30px;}

#_forms, ._form {}
.form-center {max-width: 540px; width: 100%; margin: 0 auto;}
#_forms ._form {width: 100%; min-width: 100%;}
.was-validated .form-control:invalid:focus {box-shadow: none;}
.btn.focus, .btn:focus {box-shadow: none;}
/* form-control */
.form-control {border: 0;border-bottom: 2px solid #e6e6e6;border-radius: 0;padding: 0;line-height: 2.5; min-height: 42px;}
.form-control:focus {box-shadow: none;border-color: #e6e6e6;}
.inner-addon {position: relative;}
.inner-addon .icon {position: absolute;width: 20px;height: 20px;margin: 10px;pointer-events: none;color: #9E9E9E;}
.right-addon .icon {right: 0px;}

.inner-addon .invalid-feedback {width: inherit!important; float: left;}

.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {box-shadow: none !important}

/*. _btn-loader */
._btn-loader{position:relative;transition:padding-right .3s ease;}
._btn-loader-center{position:relative;}
._btn-loader-center.spinning:before {right: inherit !important; left: 45% !important;}

.spinning:before{width:0;height:0;border-radius:50%;right:6px;top:50%;position:absolute}
.spinning{padding-right:35px}
.spinning:before{content:"";border:2px solid rgba(255, 255, 255, 0.60);border-right:2px solid #d94f26;-webkit-animation:rotate360 .5s infinite linear,exist .1s forwards ease;animation:rotate360 .5s infinite linear,exist .1s forwards ease}

.spinning-light:before{width:0;height:0;border-radius:50%;right:6px;top:50%;position:absolute}
.spinning-light{padding-right:35px}
.spinning-light:before{content:"";border:2px solid rgba(255, 255, 255, 0.2);border-right:2px solid #f7f7f7;-webkit-animation:rotate360 .5s infinite linear,exist .1s forwards ease;animation:rotate360 .5s infinite linear,exist .1s forwards ease}

@-webkit-keyframes rotate360{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes rotate360{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@-webkit-keyframes exist{100%{width:15px;height:15px;margin:-8px 5px 0 0}}
@keyframes exist{100%{width:15px;height:15px;margin:-8px 5px 0 0}}


._blog-list {color: #fff;}
._blog-list h2 {min-height: 60px;}
._blog-list h2, ._blog-list h2 a {font-size: 14px;font-weight: 400; color: #fff; margin-bottom: 0px;}
    ._blog-list .entry-thumbnail {margin-bottom: 1rem;}
._blog-list .entry-category {margin-bottom: 10px; font-size: 12px; font-weight: 400; }
._blog-list .entry-category a {color: rgba(255, 255, 255, 0.33);}
._blog-list .entry-date {margin-bottom: 10px; font-size: 12px; font-weight: 400; color: rgba(255, 255, 255, 0.33);}
._blog-list .post-sort {margin-bottom: 10px; font-size: 12px; font-weight: 400; margin-top: 0;}
._blog-list .entry-thumbnail img {border-radius: 40px; border-bottom-left-radius: 10px;}
._blog-list .action-link {color: rgba(255, 255, 255, 0.33); font-size: 13px;}
._blog-list .action-link a {color: #fff;}
._blog-list a:hover {color: #fff; text-decoration: underline !important;}
._blog-list a:hover img {opacity: 0.8;}


/* footer  */
.footer {padding: 20px;}
.copyright {color: #fff; font-size: 13px;}
.footer .social {padding-top: 10px;}
.footer .social a i {font-size: 26px;}
.footer .social a:hover i {color: rgba(255, 255, 255, 0.6);}


/*! Hint.css - v2.5.0 - 2017-04-23
* http://kushagragour.in/lab/hint/
* Copyright (c) 2017 Kushagra Gour */

[class*=hint--]{position:relative;display:inline-block}[class*=hint--]:after,[class*=hint--]:before{position:absolute;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);visibility:hidden;opacity:0;z-index:1000000;pointer-events:none;-webkit-transition:.3s ease;-moz-transition:.3s ease;transition:.3s ease;-webkit-transition-delay:0s;-moz-transition-delay:0s;transition-delay:0s}[class*=hint--]:hover:after,[class*=hint--]:hover:before{visibility:visible;opacity:1;-webkit-transition-delay:.1s;-moz-transition-delay:.1s;transition-delay:.1s}[class*=hint--]:before{content:'';position:absolute;background:0 0;border:6px solid transparent;z-index:1000001}[class*=hint--]:after{background:#383838;color:#fff;padding:8px 10px;font-size:12px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:12px;white-space:nowrap;/*text-shadow:0 -1px 0 #000;*/box-shadow:4px 4px 8px rgba(0,0,0,.3)}[class*=hint--][aria-label]:after{content:attr(aria-label)}[class*=hint--][data-hint]:after{content:attr(data-hint)}[aria-label='']:after,[aria-label='']:before,[data-hint='']:after,[data-hint='']:before{display:none!important}.hint--top-left:before,.hint--top-right:before,.hint--top:before{border-top-color:#383838}.hint--bottom-left:before,.hint--bottom-right:before,.hint--bottom:before{border-bottom-color:#383838}.hint--top:after,.hint--top:before{bottom:100%;left:50%}.hint--top:before{margin-bottom:-11px;left:calc(50% - 6px)}.hint--top:after{-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}.hint--top:hover:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--top:hover:after{-webkit-transform:translateX(-50%) translateY(-8px);-moz-transform:translateX(-50%) translateY(-8px);transform:translateX(-50%) translateY(-8px)}.hint--bottom:after,.hint--bottom:before{top:100%;left:50%}.hint--bottom:before{margin-top:-11px;left:calc(50% - 6px)}.hint--bottom:after{-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}.hint--bottom:hover:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--bottom:hover:after{-webkit-transform:translateX(-50%) translateY(8px);-moz-transform:translateX(-50%) translateY(8px);transform:translateX(-50%) translateY(8px)}.hint--right:before{border-right-color:#383838;margin-left:-11px;margin-bottom:-6px}.hint--right:after{margin-bottom:-14px}.hint--right:after,.hint--right:before{left:100%;bottom:50%}.hint--right:hover:after,.hint--right:hover:before{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}.hint--left:before{border-left-color:#383838;margin-right:-11px;margin-bottom:-6px}.hint--left:after{margin-bottom:-14px}.hint--left:after,.hint--left:before{right:100%;bottom:50%}.hint--left:hover:after,.hint--left:hover:before{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--top-left:after,.hint--top-left:before{bottom:100%;left:50%}.hint--top-left:before{margin-bottom:-11px;left:calc(50% - 6px)}.hint--top-left:after{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);transform:translateX(-100%);margin-left:12px}.hint--top-left:hover:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--top-left:hover:after{-webkit-transform:translateX(-100%) translateY(-8px);-moz-transform:translateX(-100%) translateY(-8px);transform:translateX(-100%) translateY(-8px)}.hint--top-right:after,.hint--top-right:before{bottom:100%;left:50%}.hint--top-right:before{margin-bottom:-11px;left:calc(50% - 6px)}.hint--top-right:after{-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);margin-left:-12px}.hint--top-right:hover:after,.hint--top-right:hover:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--bottom-left:after,.hint--bottom-left:before{top:100%;left:50%}.hint--bottom-left:before{margin-top:-11px;left:calc(50% - 6px)}.hint--bottom-left:after{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);transform:translateX(-100%);margin-left:12px}.hint--bottom-left:hover:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--bottom-left:hover:after{-webkit-transform:translateX(-100%) translateY(8px);-moz-transform:translateX(-100%) translateY(8px);transform:translateX(-100%) translateY(8px)}.hint--bottom-right:after,.hint--bottom-right:before{top:100%;left:50%}.hint--bottom-right:before{margin-top:-11px;left:calc(50% - 6px)}.hint--bottom-right:after{-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);margin-left:-12px}.hint--bottom-right:hover:after,.hint--bottom-right:hover:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--large:after,.hint--medium:after,.hint--small:after{white-space:normal;line-height:1.4em;word-wrap:break-word}.hint--small:after{width:80px}.hint--medium:after{width:150px}.hint--large:after{width:300px}.hint--error:after{background-color:#b34e4d;/*text-shadow:0 -1px 0 #592726*/}.hint--error.hint--top-left:before,.hint--error.hint--top-right:before,.hint--error.hint--top:before{border-top-color:#b34e4d}.hint--error.hint--bottom-left:before,.hint--error.hint--bottom-right:before,.hint--error.hint--bottom:before{border-bottom-color:#b34e4d}.hint--error.hint--left:before{border-left-color:#b34e4d}.hint--error.hint--right:before{border-right-color:#b34e4d}.hint--warning:after{background-color:#ec5a27;/*text-shadow:0 -1px 0 #6c5328*/}.hint--warning.hint--top-left:before,.hint--warning.hint--top-right:before,.hint--warning.hint--top:before{border-top-color:#ec5a27}.hint--warning.hint--bottom-left:before,.hint--warning.hint--bottom-right:before,.hint--warning.hint--bottom:before{border-bottom-color:#ec5a27}.hint--warning.hint--left:before{border-left-color:#ec5a27}.hint--warning.hint--right:before{border-right-color:#ec5a27}.hint--info:after{background-color:#3986ac;text-shadow:0 -1px 0 #1a3c4d}.hint--info.hint--top-left:before,.hint--info.hint--top-right:before,.hint--info.hint--top:before{border-top-color:#3986ac}.hint--info.hint--bottom-left:before,.hint--info.hint--bottom-right:before,.hint--info.hint--bottom:before{border-bottom-color:#3986ac}.hint--info.hint--left:before{border-left-color:#3986ac}.hint--info.hint--right:before{border-right-color:#3986ac}.hint--success:after{background-color:#458746;/*text-shadow:0 -1px 0 #1a321a*/}.hint--success.hint--top-left:before,.hint--success.hint--top-right:before,.hint--success.hint--top:before{border-top-color:#458746}.hint--success.hint--bottom-left:before,.hint--success.hint--bottom-right:before,.hint--success.hint--bottom:before{border-bottom-color:#458746}.hint--success.hint--left:before{border-left-color:#458746}.hint--success.hint--right:before{border-right-color:#458746}.hint--always:after,.hint--always:before{opacity:1;visibility:visible}.hint--always.hint--top:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--always.hint--top:after{-webkit-transform:translateX(-50%) translateY(-8px);-moz-transform:translateX(-50%) translateY(-8px);transform:translateX(-50%) translateY(-8px)}.hint--always.hint--top-left:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--always.hint--top-left:after{-webkit-transform:translateX(-100%) translateY(-8px);-moz-transform:translateX(-100%) translateY(-8px);transform:translateX(-100%) translateY(-8px)}.hint--always.hint--top-right:after,.hint--always.hint--top-right:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--always.hint--bottom:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always.hint--bottom:after{-webkit-transform:translateX(-50%) translateY(8px);-moz-transform:translateX(-50%) translateY(8px);transform:translateX(-50%) translateY(8px)}.hint--always.hint--bottom-left:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always.hint--bottom-left:after{-webkit-transform:translateX(-100%) translateY(8px);-moz-transform:translateX(-100%) translateY(8px);transform:translateX(-100%) translateY(8px)}.hint--always.hint--bottom-right:after,.hint--always.hint--bottom-right:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always.hint--left:after,.hint--always.hint--left:before{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--always.hint--right:after,.hint--always.hint--right:before{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}.hint--rounded:after{border-radius:4px}.hint--no-animate:after,.hint--no-animate:before{-webkit-transition-duration:0s;-moz-transition-duration:0s;transition-duration:0s}.hint--bounce:after,.hint--bounce:before{-webkit-transition:opacity .3s ease,visibility .3s ease,-webkit-transform .3s cubic-bezier(.71,1.7,.77,1.24);-moz-transition:opacity .3s ease,visibility .3s ease,-moz-transform .3s cubic-bezier(.71,1.7,.77,1.24);transition:opacity .3s ease,visibility .3s ease,transform .3s cubic-bezier(.71,1.7,.77,1.24)}
body.__safari .flex-column {-webkit-box-orient: vertical;}
body.__safari main {display: -webkit-box;position: relative;z-index: 99;}
body.__safari main .container {-webkit-box-align: center;}
body.__safari .row {display: -webkit-box;-webkit-box-align: center;}
body.__safari .align-self-center {-webkit-box-align: center!important;}
body.__safari .site-wrapper {height: 100%;}
body.__safari .header {position: absolute;width: 100%;top: 0px;}
body.__safari .footer {position: absolute;width: 100%;bottom: 0px;}
body.__safari #_forms ._form{padding-top: 50px;}

@media only screen and (max-width: 1200px) {
  .login-img {padding-top: 20px;}
  .login-img img {height: 250px} 
}
@media only screen and (max-width: 991px) {
  .site-wrapper {background: url(../images/bg-img.jpg) center no-repeat;height: 100%;background-size: cover;}
  .Welcome-text {margin: 2rem 0;padding: 0;text-align: center;}
  .form-body {background-color: #fff;padding: 1.5rem;border-radius: 10px;margin-bottom: 20px;}
  .footer {text-align: center;}
  body.__safari .row {display: block;padding-top:65px;}
  body.__safari .footer {position: relative;}
  body.__safari .site-wrapper, body.__safari #_forms {height: auto!important;}
  body.__safari #_forms ._form{padding-top: 0px;}

  .login-img {padding-top: 20px;}
  .login-img img {height: 150px} 

  ._login-with-news {padding: 0px 15px; height: 100vh;}
  
}

@media only screen and (max-width: 576px) {
  main .row {margin: 0;}  
  .h2, h2 {font-size: 1.5rem;}
  .form-body {min-height: 370px;}

  ._login-with-news {padding: 0px 0px;}
  .nav-logo-center img { width: 195px; height: 60px;}
  ._login-with-news .Welcome-text {margin: 0px !important}
}

